*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    display:flex;
    flex-direction:row;
    width:100vw;
    height:100vh;
    background-color:#4c4c4c;
    color :white;
    font-size:20px;
    

}
#left,#rigth{
    display:flex;
    flex-direction:column;
    width:50%;
    justify-content:center;
    overflow:hidden;
    

}
#pacman{
    height:90vh;
    display:flex;
    align-items:center;
    width:100%;
    background-color:#5c5c5c;
}
#sliders,#valores{
    z-index: 10;
    height:10vh;
    width:100%;

    display:flex;
    align-items:center;
    justify-content:space-around;
}
#defaultCanvas1{
    display:none;
}
#rigth{
    background-color:#ffffff8f;
    align-items:center;
}
#my_dataviz{
    width:100%;
    
}
